body{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto Slab', serif;
}
section{
    height: 1000px;
}
h1{
    font-size: 50px;
}
p{
    padding-bottom: 20px;
}
/****************************HEADER-START*******************************/
.header{
    background-image: url("img/header-bg.png");
    background-repeat: no-repeat;
}
.name{
    color:rgb(255, 4, 150); ;
}
.half{
    float: left;
    width: 40%;
    margin-left: 5%;
    padding-left: 2%;
}

.half img{
    width: 90%;
    margin-top: 20px;
}

.button{
    text-decoration: none;
    color: white;
    background-color: rgb(255, 4, 150);
    padding: 10px 40px;
    border-radius: 5px;
}
/******************************HEADER-END**********************************/

/*******************************BIOGRAPGHY-START***************************/

.biography{
    background-image: url("img/biography-bg.png");
    background-repeat: no-repeat;
}
/*******************************BIOGRAPGHY-END***************************/

/*******************************LATEST-WORK-START***************************/
.latest-work{
    background-image: url("img/latest-work-bg.png");
    background-repeat: no-repeat;
}
.work{
    float: left;
    width: 20%;
    padding-left: 10%;
}

.work img{
    width: 120%;
}

#work-text{
    text-align: center;
    padding-bottom: 5%;
}
/*******************************LATEST-WORK-END***************************/

/*******************************FOOTER-START***************************/

.last{
    background-image: url("img/footer-bg.png");
    background-repeat: no-repeat;
}