body{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto Slab', serif;
}
section{
    height: 1000px;
}
h1{
    font-size: 50px;
}

/****************************HEADER-START*******************************/
.header{
    background-image: url("img/header-bg.png");
    background-repeat: no-repeat;
}
.header-half{
    float: left;
    width: 35%;
    padding-left: 5%;
    margin-left: 5%;
}

.header img{
    width: 100%;
    margin-top: 200px;
}
.header-text{
    margin-top: 300px;
}
.name{
    font-size: 60px;
    color:  #ed4b6f;

}
.header p{
    padding-bottom: 50px;

}
.button{
    text-decoration: none;
    padding: 10px 25px;
    background-image: linear-gradient(90deg,#ec4f90, #ed4b6f);
    border-radius: 5px;
    font-weight: bold;
    color: white;
}

/******************************HEADER-END**********************************/

/*******************************BIOGRAPGHY-START***************************/

.biography{
    background-image: url("img/biography-bg.png");
    background-repeat: no-repeat;
}
.bio-half{
    float: left;
    width: 35%;
    padding-left: 5%;
    margin-left: 5%;
}
.biography img{
    width: 100%;
    margin-top: 20px;
}
.bio-text{
    margin-top: 200px;
}
.bio-half p{
    padding-bottom: 50px;
}
/*******************************BIOGRAPGHY-END***************************/

/*******************************LATEST-WORK-START***************************/

.latest-work{
    background-image: url("img/latest-work-bg.png");
    background-repeat: no-repeat;

}
.work-half{
    width: 26%;
    float: left;
    overflow: hidden;
    margin-left: 8%;
    padding-top: 3%;
    margin-right: -73px;
    margin-top: -75px;
    padding-right: -2px;
}
.work-image{
    padding-top: 10%;
}

.work-half img{
    width: 100%;
}
.latest-work h1{
    text-align: center;
}
/*******************************LATEST-WORK-END***************************/

/*******************************CLIENT-START***************************/
.client{
    background-image: url(img/footer-bg.png);
    background-repeat: no-repeat;
}
.client h1{
   text-align: center;
   padding-bottom: 7%;
}
.title{
    text-align: center;
}
.say p{
    width: 20%;
    text-align: justify;
    margin: auto;
    padding-bottom: 10%;
}
.btn{
    margin: auto;
    height: 100px;
    width: 500px;
    background-image: linear-gradient(90deg,#ec4f90, #ed4b6f);
    color: whitesmoke;
    text-align: center;
    border-radius: 5px;
}
.btn p{
    padding-top: 2%;
    padding-bottom: 2%;
}
.btn a{
    color: whitesmoke;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}
/*******************************CLIENT-END***************************/

/*******************************FOOTER-START***************************/

footer{
    text-align: center;
}